/*
 Russell Carlin
 ASD 1204
 Project 1
*/
.tooltip{
	margin-bottom: 10px;
	color: #bbbbbb;
	margin-left: 15px;
	font-size: 14px 
}

.logoImage, .centerText{
	text-align: center;
}

label.error{
	color: red;
}

#CTA{
	width: 290px;
	height: 200px;
	background: url('../Images/CTA.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

#addroster, #addcounter, #addcombo{
	width: 270px;
}

#addroster{
	position: absolute;
	bottom: 125px;
	left: 5px;
}

#addcounter{
	position: absolute;
	bottom: 75px;
	left: 5px;
}

#addcombo{
	position: absolute;
	bottom: 25px;
	left: 5px;
}